body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #151616;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* Nav */
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 1rem;
  background-color: var(--bg);
  height: var(--nav-size);
  width: 100%;
  border-bottom: var(--border);
}

.navbar-nav {
  width: 100%;
  height: var(--nav-size);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  margin: 0.5rem;
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item:last-child {
  margin-right: 2rem;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.dropdown-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.dropdown-item:hover {
  background-color: #525357;
}

.dropdown-item svg {
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #484a4d;
  padding: 0.5rem;
}

/* Middle */

.middle {
  margin-top: var(--nav-size);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto 1fr;
  justify-items: center;
}

/* Sidebar */

.sidebar {
  width: 250px;
  padding: 0.2rem 0;
  background-color: var(--bg);
  overflow-y: auto;
  height: calc(100vh - var(--nav-size) - 0.2rem);
}

.sidebar-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0.3rem 1rem;
  color: var(--text-color);
}

.sidebar-item-header p {
  font-weight: bold;
  letter-spacing: 0.6px;
}

.sidebar-item-header:hover {
  background-color: #525357;
}

.sidebar-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  color: var(--text-color);
}

.sidebar-button:hover {
  filter: brightness(1.2);
}

.open-sidebar-button {
  transform: rotate(90deg);
}

.sidebar-item-list {
  padding-left: 1rem;
}

.sidebar-item-list li {
  cursor: pointer;
  color: var(--text-color);
  margin: 0.2rem;
  transition: all 0.3s ease-in-out;
}

.sidebar-item-list li:hover {
  padding-left: 5px;
}

/* Content */

.content-country {
  width: 350px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 2rem;
}

.content-country img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.content-country-details {
  padding: 0.5rem 1rem 1rem;
}

.content-country-details span {
  font-style: italic;
}

.content-button {
  display: block;
  background-color: var(--bg-accent);
  width: 250px;
  border-radius: 10px;
  padding: 1rem;
  color: var(--text-color);
  font-size: 20px;
  margin: 0 auto;
}
